**/*
!rust-toolchain.toml
!Cargo.toml
!Cargo.lock
!.cargo
!crates
!proto
!pyproject.toml
!uv.lock
!.python-version
!python
!core-python
!scripts
!README.md

!example_app
!example-app
!example-app/javascript
!example-app/javascript/**
!javascript
!javascript/packages
!javascript/packages/nextjs
!javascript/packages/nextjs/**

example-app/javascript/.next
example-app/javascript/.waymark
example-app/javascript/node_modules
javascript/**/node_modules

**/__pycache__
*.pyc
*.pyo
*.pyd
*.whl
