**/*
!rust-toolchain.toml
!Cargo.toml
!Cargo.lock
!.cargo
!crates
!proto
!pyproject.toml
!uv.lock
!.python-version
!python
!core-python
!scripts
!README.md

!example_app

**/__pycache__
*.pyc
*.pyo
*.pyd
*.whl
