[package]
name = "carabiner"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1"
bytes = "1"
futures = "0.3"
once_cell = "1"
prost = "0.12"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[build-dependencies]
prost-build = "0.12"
