[package]
name = "carabiner"
version = "0.1.0"
edition = "2024"

[lib]
name = "carabiner"
crate-type = ["rlib"]

[dependencies]
anyhow = "1"
axum = "0.7"
base64 = "0.22"
bytes = "1"
clap = { version = "4.5", features = ["derive", "env"] }
futures = "0.3"
once_cell = "1"
prost = "0.12"
reqwest = { version = "0.12", default-features = false, features = ["json", "rustls-tls"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
sha2 = "0.10"
num_cpus = "1"
chrono = { version = "0.4", default-features = false, features = ["clock", "serde"] }
sqlx = { version = "0.7", default-features = false, features = ["runtime-tokio-rustls", "postgres", "macros", "migrate", "chrono", "uuid"] }
tera = { version = "1.19", default-features = false, features = ["builtins"] }
uuid = { version = "1", features = ["serde", "v4"] }
dotenvy = "0.15"
tempfile = "3"
thiserror = "1"
tokio = { version = "1", features = ["full"] }
tokio-stream = { version = "0.1", features = ["net"] }
tonic = { version = "0.11", features = ["transport"] }
tracing = "0.1"
tracing-subscriber = "0.3"

[build-dependencies]
tonic-build = "0.11"
